<div class="form-group form-inline" id="{{id}}">
  <input type="text" name="gameday_set[gamedays_attributes][][date]" class="form-control" value="{{date}}">
  <label for="gameday_set[gamedays_attributes][][location]"> Spielort: </label>
  <input type="text" name="gameday_set[gamedays_attributes][][location]" class="form-control">
  <input type="hidden" name="gameday_set[gamedays_attributes][][league_id]" value="{{league_id}}">
</div>