<div class="form-group form-inline"">
  <label for="game_set[games_attributes][][team_1_number]"> Team 1 Nummer: </label>
  <input type="text" name="game_set[games_attributes][][team_1_number]" class="form-control">
  <span>:</span>
  <label for="game_set[games_attributes][][team_2_number]"> Team 2 Nummer: </label>
  <input type="text" name="game_set[games_attributes][][team_2_number]" class="form-control">
  <input type="hidden" name="game_set[games_attributes][][gameday_id]" value="{{gameday_id}}">
</div>