<h2>Allgemeines (Veranstalter)</h2>
<p>Mit WinAdmin werden die Vorrunden der Wintermeisterschaften des GLTV komfortabel online verwaltet. WinAdmin wird via <%= link_to "wm.gltv.ch"%> oder via GLTV Homepage <%= link_to "www.gltv.ch" %> aufgerufen.</p>

<h2>Resultate</h2>
<p>
  <ul>
    <li>Sport und passende Liga wählen.</li>
    <li>Spieltag (Datum) und Spielpaarung suchen.</li>
    <li>Resultate eingeben und Absenden anklicken (ev. muss dafür wieder hinauf gescrollt werden).</li>
    <li>Einmal eingegebene Resultate können nur durch Mitarbeiter des Ressorts Spiel wieder geändert werden.</li>
    <li>Falls die Resultate korrekt eingegeben wurden muss noch die Rangliste aktualisiert, bzw. erstellt werden.</li>
  </ul>
</p>

<h2>Rangliste</h2>
<p>
  <ul>
    <li>Sport wählen</li>
    <li><i>Rangliste erstellen</i> anklicken</li>
    <li>Ergebnis überprüfen und danach Abmelden</li>
  </ul>
</p>