<h1>Passwort Vergessen</h1>
<%= form_for @user_session, url: forgot_password_sessions_path, builder: BootstrapFormBuilder do |f| %>
  <%= f.bs_text_field(:email) %>
  <%= f.bs_submit t(:reset_password) %>
<% end %>