<div class="form-group form-inline">
  <%= text_field_tag "gamedaydate[]", '', class: 'gamedaydate form-control' %>
  <%= label_tag "gamedayplace[]", t(:place) %>
  <%= text_field_tag "gamedayplace[]", '', class: 'form-control' %>
</div>